@font-face {
  font-family: 'robotobold';
  src: url('fonts/Roboto-Bold-webfont.eot');
  src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Bold-webfont.woff2') format('woff2'),
  url('fonts/Roboto-Bold-webfont.woff') format('woff'),
  url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
  url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url('fonts/Roboto-Thin-webfont.eot');
  src: url('fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Thin-webfont.woff2') format('woff2'),
  url('fonts/Roboto-Thin-webfont.woff') format('woff'),
  url('fonts/Roboto-Thin-webfont.ttf') format('truetype'),
  url('fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('fonts/Roboto-Regular-webfont.eot');
  src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
  url('fonts/Roboto-Regular-webfont.woff') format('woff'),
  url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
  url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}