@media (max-width: 991px) {

header {
  nav.navbar {
      div.navbar-collapse {
        margin-left: 0 !important;
        margin-right: -12%;
    }
    a.navbar-brand {
      padding: 0;
      margin: 0;
      width: 40%;
      max-width: none;
      left: 0;
      flex: none;
      right: 0;
    }
  }
}




  section#teaser {
    div {
      div.row {
        div.col-12 {
          button.btn {
            font-size: 19px;
          }
        }
      }
    }
    h1 {
    font-size: 26px;
    }
    h2 {
    font-size: 24px;
    }

    p {
      padding: 0;
      font-size: 1rem;
    }
  }

  section#services-grid {
    .container {
      .row {
        .card {
          .card-body {
            text-align: center;
            a.btn {
              font-size: 15px;
            }
            p {
              font-size: 1rem;
            }
          }
          .card-title {
            font-size: 24px;
          }
        }
      }
    }
  }

  section#services-toolbar {
    margin: 0;
    padding: 0;
    border-bottom: 0;
    border-top: 0;
    .container-fluid {
      div.row {
      }
    }
  }

  section#interest {
    margin: 5rem 0 9rem 0;
    .container {
      div.row {
        text-align: center;
      }
    }
    h2{


    }
    h3 {

    }
    button.btn.btn-info {

    }
  }

  section#suggestions {
    .container {
      .row {
        .col-12 {

          a {
            &:hover {
            }
            p {
            }
          }
          img {
          }
          &:first-child {
            margin-right: 0;
            margin-bottom: 2rem;
            h2 {
            }
          }
          &:last-child {
            margin-left: 0;
            margin-bottom: -5rem;
            h2 {
            }
          }
          h2 {
          }
        }
      }
    }
  }

  footer {
    .container-fluid {
      .row {
            .col-12 {
              padding-bottom: 1.5rem;
              a {
                img {
                  width: 36%;
                }
              }
              ul {
                li {
                }
              }
              h2 {
              }
            }
        .col-12{
          .row {
            .col-6 {
              h2 {
              }
              ul {
                li {
                }
              }
            }
          }
        }
      }
    }
  }

  section#teaser-ir {
    div {
      div.row {
        div.col-12 {
          button.btn {
            font-size: 19px;
          }
        }
      }
    }
    h1 {
      font-size: 26px;
    }
    h2 {
      font-size: 24px;
    }

    p {
      padding: 0;
      font-size: 1rem;
    }
  }

  section#summary {
    .container {
      .row {
        .col-12 {
          img {
            margin-top: 0;
            margin-bottom: 7rem;
          }
        }
      }
    }
  }


}
