header {
  padding: .5rem 0;
  border-bottom: 2px solid #65bbec;
nav.navbar {
  div.navbar-collapse {
    margin-left: -16.6667% !important;
  }
}
  nav.bg-light {
    background-color: transparent !important;
    .row {
      .col-1 {
        img {
          padding-top: .3rem;
        }
      }
    }
    ul {
      float: none;
      text-align: center;
      li {
        display: inline-block;
        float: none;
        a.nav-link {
          font-family: 'robotoregular';
          text-transform: uppercase;
          padding-right: 45px !important;
          padding-top: 8px;
          color: #000 !important;
          &:hover {
            color: $lightblue !important;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          }
        }
      }
    }
  }
}

section#interest {
  a.btn.btn-info {
    text-transform: uppercase;
    background-color: $lightblue;
    border-color: $lightblue;
    font-family: robotobold;
    font-size: 17px;
    padding: .200rem 1.25rem;
    &:hover, &:active {
      background-color: $darkblue !important;
      border-color: $darkblue !important;
    }
  }
}

section#teaser {
  a.btn.btn-info {
    text-transform: uppercase;
    background-color: $lightblue;
    border-color: $lightblue;
    font-family: robotobold;
    font-size: 17px;
    padding: .200rem 1.25rem;
    &:hover, &:active {
      background-color: $darkblue !important;
      border-color: $darkblue !important;
    }
  }
}


a.btn.btn-info {
  text-transform: uppercase;
  background-color: $lightblue;
  border-color: $lightblue;
  font-family: robotobold;
  font-size: 12px;
  padding: .200rem 1.25rem;
  &:hover, &:active {
    background-color: $darkblue !important;
    border-color: $darkblue !important;
  }
}

section#teaser {
  margin: 4rem 0rem -2rem 0rem;
  h1 {
    font-family: 'robotoregular';
    font-size: 30px;
  }
  h2 {
    font-family: 'robotothin';
    color: #386cd2;
    font-size: 30px;
  }

  p {
    padding: .5rem 15rem;
    font-family: 'robotoregular';

  }
}


section#services-grid {
  margin: 5rem 0;
  .container {
    .row {
      .card {
        border: none;
        padding: 1rem 2rem;
        .card-body {
          padding: 1.25rem 0rem;
        }
        .card-title {
          text-transform: uppercase;
          text-align: center;
          font-family: robotobold;
          font-size: 1.1rem;
        }
      }
    }
  }
}


section#services-toolbar {
  margin: 8rem 0rem -1rem 0rem;
  padding: 1rem 0;
  border-bottom: 2px solid #dadbdc;
  border-top: 2px solid #dadbdc;
  .container-fluid {
    div.row {
      div.col {
        text-transform: uppercase;
        text-align: center;
        font-size: .9rem;
        font-family: robotobold;
        a {
          color: #000;
          &:hover {
            color: $lightblue;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            text-decoration: none;
          }
        }
      }
    }
  }
}

section#interest {
  margin: 9rem 0 13rem 0;
  h2{
    color: #386cd2;
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  button.btn.btn-info {
    text-transform: uppercase;
  }
}

section#suggestions {
  background: #f2f2f2;
  margin: 0;
  padding-bottom: 3rem;
  .container {
    .row {
      .col-12 {
        padding-bottom: 1rem;
        padding-left: 6.4rem;
        box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
        border: 1px solid #f2f2f2;
        background: #fff;
        top: -5rem;
        overflow: hidden;
        a {
          color: #000000;
          &:hover {
            color: #65bbec;
            text-decoration: none;
          }
            p {
            color: #000000;
          }
        }
        img {
          width: 100px;
          height: 100px;
          position: absolute;
          top: 2.4rem;
          left: -1rem;
        }
        &:first-child {
          margin-right: 15px;
          h2 {
            color: #007a69;
          }
        }
        &:last-child {
          margin-left: 15px;
          h2 {
            color: #180085;
          }
        }
        h2 {
          text-transform: uppercase;
          font-family: robotobold;
          font-size: 1.1rem;
          padding-top: 2rem;
        }

      }
    }
  }
}

footer {
  background: #f2f2f2 ;
  margin: 0 0 0 0;
  border-top: 2px solid #65bbec;
  padding-top: 2rem;
  .container-fluid {
    .row {
      .col {
        .row {
          .col-12 {
            ul {
              padding-left: 0;
              li {
                list-style-type: none;
                a {
                  color: #000;
                  text-decoration: none;
                  &:hover {
                    color: #65bbec;
                  }
                }
                &::after {
                  content: '>';
                  display: inline-block;
                  padding: 0 0 0 .1rem;
                  position: relative;
                  top: -.02rem;
                }
              }
            }
            h2 {
              font-family: robotobold;
              font-size: 16px;
              text-transform: uppercase;
            }
          }
        }
      }
      .col-12{
        .row {
          .col-6 {
            h2 {
              font-family: robotobold;
              font-size: 16px;
              text-transform: uppercase;
            }
            ul {
              padding-left: 0;
              li {
                list-style-type: none;
                &::after {
                  content: '>';
                  display: inline-block;
                  padding: 0 0 0 .1rem;
                  position: relative;
                  top: -.02rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

section#teaser-ir {
  margin: 4rem 0rem -2rem 0rem;
  h1 {
    font-family: 'robotoregular';
    font-size: 30px;
    text-transform: uppercase;
    color: $darkblue;
    margin-bottom: 0rem;
  }
  p {
    padding: .5rem 15rem;
    font-family: 'robotoregular';

  }
}

section#ir-main-pic {
  margin: 2rem 0 1rem 0;
}

section#summary {
  margin-bottom: -2rem;
  .container {
    .row {
      .col-12.mr-auto {
        .row {
          figure.col-12 {
              margin-top: -5rem;
          }
        }
        p {
          line-height: 1.5em;
        }
        p.firstcolumn {
          padding-top: 67px;
          line-height: 1.5em;
        }
      }
      .col-12 {
        div {
          figure {
            figcaption {
              margin-bottom: 6rem;
            }
            img {
              margin: 0 !important;
            }
          }
          form {
            .form-group {
              .custom-file {
                font-size: 1rem;
              }
            }
          }
        }
            p {
              button {
                text-transform: uppercase;
                background-color: #55abe6;
                border-color: #55abe6;
                font-family: robotobold;
                font-size: 17px;
                padding: .200rem 1.25rem;
                margin-top: 1rem;
              }
            }
        ul {
          margin: 1.5rem 0rem 2rem 0rem;
          li {
          list-style-type: square;
        }
      }
      img {
        margin-top: 70px;
      }
      h1 {
        font-family: robotobold;
        font-size: 24px;
          }
        h2{
          color: $darkblue;
          font-size: 20px;
          }
    }
  }
}
}


